{% extends 'base.html' %}{% load static %}{% block contain %}


<style>
    #log {
        border: 1px solid white;
        padding: 60px 40px;
        margin-top: 20px;
        -webkit-box-shadow: -6px -16px 83px 26px rgba(0, 0, 0, 0.73);
        -moz-box-shadow: -6px -16px 83px 26px rgba(0, 0, 0, 0.73);
        box-shadow: -6px -16px 83px 26px rgba(0, 0, 0, 0.73);
        border-radius: 74px 0px 101px 0px;
        -moz-border-radius: 74px 0px 101px 0px;
        -webkit-border-radius: 74px 0px 101px 0px;
        border: 16px solid #50bfc7;
    }
    
    img {
        width: 150px;
        border-radius: 50%;
        margin-left: 85px;
    }
    
    h1 {
        color: rgb(90, 88, 88);
        text-align: center;
        font-weight: bolder;
        margin-top: -40px;
    }
</style>
{% include 'navbar.html' %}
<div class="container-fluid bgs">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12"></div>
        <div class="col-sm-4 col-md-4 col-xs-12">
            <form action="" method="POST" class="form-group" id="log" enctype="multipart/form-data">{% csrf_token %}
                <h1>Upload Blog</h1>
                <img class="img-responsive img-circle" src="{% static 'image/abc.gif' %}" alt=""><br><br> {{form.title}}
                <br> {{form.desc}}
                <br> {{form.image}}


                <div class="text-center">
                    <input type="submit" value="Update" class="btn btn-info mt-5">
                </div>


            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12">


            {% if messages %} {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 " {% endif %}>{{message}}&emsp;&emsp;<i class="bi bi-hand-thumbs-up"></i></p>
            {% endfor %} {% endif %}
        </div>

    </div>
</div>

{% endblock contain %}