{% extends 'base.html' %} {% load static %} {% block contain %}
<style>
    .mydiv {
        background-color: blue;
        text-align: center;
        height: 40px;
    }
</style>



<div class="mydiv mt-2">
    <marquee behavior="" direction="">
        <h3 class="mt-1">Muna
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-arrow-through-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
</svg>
            Mama </h3>
    </marquee>
</div>


{% include 'navbar.html' %}
<div class="container">
    <div class="col-sm-12 col-md-12 col-xs-12">

        {% if messages %} {% for message in messages %}

        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 text-center " {% endif %}><i class="bi bi-exclamation-circle"></i> {{message}}</p>
        {% endfor %} {% endif %}
    </div>
</div>


<div class="container">


  {% if data %}
    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            
            <td>{{i.title}}</td>
            <td>{{i.date}}</td>
            <td>
              <center>
              <a href="{% url 'delete_information' i.id %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </a>
          </center>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>   

      {% else %}

      <h1>No Information is Here </h1>
      {% endif %}
 

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Add some Information  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Add something &nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Red" class="bi bi-arrow-through-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z"/>
          </svg></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="GET">{% csrf_token %}
        <div class="modal-body">
          <input type="text" name="information_title" onkeyup="information()" id="information_title" class="form-control" placeholder="Title">
          <small class="text-danger" id="information"></small>
          <br>

          <input type="text" name="information_date" onkeyup="information_date()" id="information_date" class="form-control" placeholder="DD-MM-YYYY">
          <small class="text-danger" id="date"></small> 
        </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" onclick="myFunction()" class="btn btn-secondary" value="Submit">
        </div>
      </div>
    </div>
  </div>
</div>


<br><br>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'image/100.gif' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<script>

    function information(){
        title = document.getElementById('information_title').value
        if (title == ""){
            document.getElementById('information').innerHTML = "Enter title";
            return false
        }
        if (title != ""){
            document.getElementById('information').innerHTML = "";
            return title
        }
    }

    function information_date(){
        date = document.getElementById('information_date').value
        if  (date == ""){
            document.getElementById('date').innerHTML = "Enter date (DD-MM-YYYY)";
            return false 
        }


        if  (date != ""){
            document.getElementById('date').innerHTML = "";
            return date
        }
    }
    function myFunction() {
        title = information()
        date = information_date()

        console.log(title,date)
        if (title == "" || date == ""){
            return false 
        } 
        else {
            $.ajax({
        type:"GET",
        url: "/information",
        data:{
                 title: title,
                 date:date
        },
        success: function( data ) 
        {
            location.reload();
        }
     })
        }
        
}


</script>

{% endblock contain %}



