{% extends 'base.html' %}{% load static %}{% block contain %}


<!--<style>-->
<!--    #log {-->
<!--        border: 1px solid white;-->
<!--        padding: 60px 40px;-->
<!--        margin-top: 20px;-->
<!--        -webkit-box-shadow: -6px -16px 83px 26px rgba(0, 0, 0, 0.73);-->
<!--        -moz-box-shadow: -6px -16px 83px 26px rgba(0, 0, 0, 0.73);-->
<!--        box-shadow: -6px -16px 83px 26px rgba(0, 0, 0, 0.73);-->
<!--        border-radius: 74px 0px 101px 0px;-->
<!--        -moz-border-radius: 74px 0px 101px 0px;-->
<!--        -webkit-border-radius: 74px 0px 101px 0px;-->
<!--        border: 16px solid #50bfc7;-->
<!--    }-->

<!--    img {-->
<!--        width: 150px;-->
<!--        border-radius: 50%;-->
<!--        margin-left: 85px;-->
<!--    }-->

<!--    h1 {-->
<!--        color: rgb(90, 88, 88);-->
<!--        text-align: center;-->
<!--        font-weight: bolder;-->
<!--        margin-top: -20px;-->
<!--    }-->
<!--</style>-->
{% include 'navbar.html' %}
<div class="container">

    <div class="col-sm-12 col-md-12 col-xs-12">

        {% if messages %} {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 " {% endif %}>{{message}}</p>
        {% endfor %} {% endif %}
    </div>

</div>

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form  method="POST" class="form-group" id="log" enctype="multipart/form-data" novalidate>{% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                       {% for fm in form %} {{fm.label_tag}} {{fm}} <small class="text-danger"> {{fm.errors|striptags}}</small> {% endfor %}
                  </div>


                {% if form.non_field_errors %} {% for new in form.non_field_errors %}
                <p class='text-danger'>{{new}}</p>
                {% endfor %} {% endif %}

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                      in</button>
                  </div>




                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contain %}